<!DOCTYPE html>
<html>
<head>
  <title>AzureDirectUpload</title>
  <%= stylesheet_link_tag    "azure_direct_upload/application", media: "all" %>
  <%= javascript_include_tag "azure_direct_upload/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
